# Python practice problems with for loops, dict, input

In [1]:
# Review Python "input" # this should help with assignments below

In [2]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [3]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [4]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [6]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

2) Write a for loop to print even numbers in the range 1 .. 20

In [12]:
# Write code here ...
for i in range(1,20):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18

In [51]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

'\n3) Define a list of animals to be as follows:\nanimals = ["lion","tiger","elephant","giraffe","zebra"]\n\nNow print animal names using for loop. The output should be as follows:\n1 lion\n2 tiger\n3 elephant\n4 giraffe\n5 zebra\n'

In [40]:
# Write code here ...
# Write code for Exercise 9 in this cell
animals =  ["lion","tiger","elephant","giraffe","zebra"]

for i in range(0, len(animals)):
     print(i+1, " ", animals[i])

1   lion
2   tiger
3   elephant
4   giraffe
5   zebra

In [53]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

'\n4) Visiting moon every year for next 10 years\nThe weight on moon can be estimated to be 18%  of weight on earth.\nWrite a program which will ask the user to enter current earth weight.\nThen calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.\n\nUse for loop to print weight on moon each year when you visit.\n'

In [44]:
moonMass = int(input("Your currect earth weight pounds: "))
everyYear = 2 * .18
newYear = moonMass

for x in range(10):
    newYear = newYear + everyYear
    print('My moon weight each year will be %s pounds on year %s' % (newYear, x))

Your currect earth weight pounds: 106
My moon weight each year will be 106.36 pounds on year 0
My moon weight each year will be 106.72 pounds on year 1
My moon weight each year will be 107.08 pounds on year 2
My moon weight each year will be 107.44 pounds on year 3
My moon weight each year will be 107.8 pounds on year 4
My moon weight each year will be 108.16 pounds on year 5
My moon weight each year will be 108.52 pounds on year 6
My moon weight each year will be 108.88 pounds on year 7
My moon weight each year will be 109.24 pounds on year 8
My moon weight each year will be 109.6 pounds on year 9

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [46]:
sum = 0
for i in range(1,101):
    sum = sum + i
print (sum)

5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [49]:
# Write code here ...

num_sum = 0
for i in range(4):
    num = int(input("Please enter an integer: "))
    num_sum = num_sum + num
print(num_sum)

Please enter an integer: 4
Please enter an integer: 5
Please enter an integer: 6
Please enter an integer: 7
22

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [55]:
# Write code here ...
for i in range(1,51):
    if i % 2 ==0:
        print(i*i)

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600
1764
1936
2116
2304
2500

In [61]:
product = 2
for i in range(1,51):
    if i%2 == 0:
        product *= i
print(product)

1040939685273333245386162176000000

8a) Find the index of minimum and maximum number in MyList.

In [62]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [68]:
# Write code here ...
import numpy as np
index_min = np.argmin(myList)
index_max = np.argmax(myList)
print(index_min)
print(index_max)

106
169

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [69]:
# write code here ...
sorted(range(len(myList)), key=lambda i: myList[i])[-5:]

[14, 58, 103, 179, 169]

In [70]:
def most_common(lst):
    return max(set(lst), key=lst.count)

most_common(myList)

17

In [71]:
def max_occ(lst,x):
    count=0
    for i in lst:
        if (i==x):
            count=count+1
    return count

#lst=[1, 2, 45, 55, 5, 4, 4, 4, 4, 4, 4, 5456, 56, 6, 7, 67]
#x=max(lst,key=lst.count)
#print(x,"occurs ",max_occ(lst,x),"times")

In [72]:
max_occ(myList,17)

7

In [73]:
a = [1, 1, 0, 2, 1, 0, 3, 3]
a_uniq, counts = np.unique(a, return_counts=True)

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [27]:
# Write code here 

Fahrenheit = int(input("Enter a temperature in Fahrenheit: "))

Celsius = (Fahrenheit - 32) * 5.0/9.0

print ("Temperature:", Fahrenheit, "Fahrenheit = ", Celsius, " C")

Enter a temperature in Fahrenheit: 95
Temperature: 95 Fahrenheit =  35.0  C

In [28]:
Celsius = int(input("Enter a temperature in Celsius: "))

Fahrenheit = 9.0/5.0 * Celsius + 32

print ("Temperature:", Celsius, "Celsius = ", Fahrenheit, " F")

Enter a temperature in Celsius: 20
Temperature: 20 Celsius =  68.0  F

In [29]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((9 * degree) / 5 + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 69F
The temperature in Celsius is 21 degrees.

In [62]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

'\n10) Print the times table:\n1x1=1 1x2=2 1x3=3 1x4=4 1x5=5\n2x1=2 2x2=4 2x3=6 2x4=8 2x5=10\n3x1=3 3x2=6 3x3=9 3x4=12 3x5=15\n4x1=3 4x2=6 4x3=9 4x4=12 4x5=15\n5x1=3 5x2=6 5x3=9 5x4=12 5x5=15\n\nUse for loop nested with for loop to print the above multiplication table\n'

In [25]:
# write code here 
for row in range(1,6):
    for col in range(1,6):
        print(row, 'x', col, '=', row*col, end="\t")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25